# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db

# Playwright
test-results/
playwright-report/
.cache/

# Vite
apps/web/dist/

# Временные отладочные файлы
tmp_*
